In [1]:
import pandas as pd
traincsv_path='/opt/ml/input/data/train/train.csv'
traincsv=pd.read_csv(traincsv_path)
traincsv.head(3)

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54

In [2]:
new_traincsv=pd.DataFrame(columns=['id','gender','mask','age','age_3','age_11','label','path'])

In [3]:
from glob import glob

processed_train_images_path='/opt/ml/input/data/train/processed_train_images'
processed_train_images=glob(processed_train_images_path+'/*') # 모든 이미지의 경로

In [4]:
for path in processed_train_images:
    split_path = path.split('/')
    id = split_path[-1].split('_')[0]
    g = traincsv.loc[traincsv['id']==id,'gender']
    gender = 0 if g.values[0] == 'male' else 1

    age = traincsv[traincsv['id'] == id]['age'].values[0]
    age_3 = min(2, age // 30)
    age_11 = age // 10
    
    mask = split_path[-1].split('_')[1][0]
    mask = int(mask)
    
    if mask == 7:
        mask = 2
    elif mask == 1:
        mask = 1
    else:
        mask = 0

    label = mask * 6 + gender * 3 + age_3
    
    new_traincsv = new_traincsv.append({'id':id,
                                        'gender':gender,
                                        'path':path,
                                        'mask':mask,
                                        'age':age,
                                        'age_3':age_3,
                                        'age_11':age_11,
                                        'label':label},ignore_index=True)

In [5]:
new_traincsv.sample(10)

,id,gender,mask,age,age_3,age_11,label,path
14570,006482,1,0,18,0,1,3,/opt/ml/input/data/train/processed_train_image...
9537,004093,1,2,58,1,5,16,/opt/ml/input/data/train/processed_train_image...
15715,000607,1,0,53,1,5,4,/opt/ml/input/data/train/processed_train_image...
2610,005524,1,0,38,1,3,4,/opt/ml/input/data/train/processed_train_image...
3051,006669,0,0,19,0,1,0,/opt/ml/input/data/train/processed_train_image...
4817,003921,0,0,59,1,5,1,/opt/ml/input/data/train/processed_train_image...
12128,003002,1,1,20,0,2,9,/opt/ml/input/data/train/processed_train_image...
1890,000534,1,1,50,1,5,10,/opt/ml/input/data/train/processed_train_image...
1254,004448,0,0,24,0,2,0,/opt/ml/input/data/train/processed_train_image...
13166,000242,0,0,56,1,5,1,/opt/ml/input/data/train/processed_train_image...

In [6]:
new_traincsv.to_csv("/opt/ml/input/data/train/preprocessed_train.csv")