In [2]:
import pandas as pd
traincsv_path='/opt/ml/input/data/train/train.csv'
traincsv=pd.read_csv(traincsv_path)
traincsv.head(3)

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54

In [87]:
new_traincsv=pd.DataFrame(columns=['id','gender','mask','age','age_3','age_11','label','path'])

In [22]:
from glob import glob

processed_train_images_path='/opt/ml/input/data/train/processed_train_images'
processed_train_images=glob(processed_train_images_path+'/*') # 모든 이미지의 경로

In [89]:
for path in processed_train_images:
    split_path=path.split('/')
    id=split_path[len(split_path)-1].split('_')[0]
    g=traincsv.loc[traincsv['id']==id,'gender']
    gender= 0 if g.values[0]=='male' else 1

    age=traincsv[traincsv['id']==id]['age'].values[0]
    age_3=min(2,age//30)
    age_11=age//10
    
    mask=split_path[len(split_path)-1].split('_')[1]
    if mask==7:
        mask=2
    elif mask==1:
        mask=1
    else:
        mask=0

    label=mask*6+gender*3+age_3
    
    new_traincsv=new_traincsv.append({'id':id,
                                        'gender':gender,
                                        'path':path,
                                        'mask':mask,
                                        'age':age,
                                        'age_3':age_3,
                                        'age_11':age_11,
                                        'label':label},ignore_index=True)

In [91]:
new_traincsv.head(5)

,id,gender,path,mask,age,age_3,age_11,label
0,003198,1,/opt/ml/input/data/train/processed_train_image...,0,19,0,1,3
1,003737,1,/opt/ml/input/data/train/processed_train_image...,0,40,1,4,4
2,006722,0,/opt/ml/input/data/train/processed_train_image...,0,19,0,1,0
3,006216,0,/opt/ml/input/data/train/processed_train_image...,0,19,0,1,0
4,003886,1,/opt/ml/input/data/train/processed_train_image...,0,52,1,5,4

In [92]:
new_traincsv.to_csv("/opt/ml/input/data/train/preprocessed_train.csv")