In [1]:
import pandas as pd
traincsv_path='/opt/ml/input/data/train/train.csv'
traincsv=pd.read_csv(traincsv_path)
traincsv.head(3)

       id  gender   race  age                    path
0  000001  female  Asian   45  000001_female_Asian_45
1  000002  female  Asian   52  000002_female_Asian_52
2  000004    male  Asian   54    000004_male_Asian_54

In [2]:
new_traincsv=pd.DataFrame(columns=['id','gender','mask','age','age_3','age_11','label','path'])

In [3]:
from glob import glob

processed_train_images_path='/opt/ml/input/data/train/processed_train_images'
processed_train_images=glob(processed_train_images_path+'/*') # 모든 이미지의 경로

In [4]:
for path in processed_train_images:
    split_path = path.split('/')
    id = split_path[-1].split('_')[0]
    g = traincsv.loc[traincsv['id']==id,'gender']
    gender = 0 if g.values[0] == 'male' else 1

    age = traincsv[traincsv['id'] == id]['age'].values[0]
    age_3 = min(2, age // 30)
    age_11 = age // 10
    
    mask = split_path[-1].split('_')[1][0]
    mask = int(mask)
    
    if mask == 7:
        mask = 2
    elif mask == 1:
        mask = 1
    else:
        mask = 0

    label = mask * 6 + gender * 3 + age_3
    
    new_traincsv = new_traincsv.append({'id':id,
                                        'gender':gender,
                                        'path':path,
                                        'mask':mask,
                                        'age':age,
                                        'age_3':age_3,
                                        'age_11':age_11,
                                        'label':label},ignore_index=True)

In [11]:
label=new_traincsv['label'].unique()
sorted(label)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [12]:
new_traincsv.to_csv("/opt/ml/input/data/train/preprocessed_train.csv")